# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Logs
*.log
